img {
  height: 300px;
  width: 300px;
  display: inline;
  border: 2px solid darkgrey;
}

h1 {
  text-decoration: underline;
  font-family: cursive;
}

body {
  background-color: lightgrey;
}

/*canvas {
  height: 800px;
  width: 1200px;
  max-height: 800px;
  max-width: 1200px;
}*/
