img {
  height: 300px;
  width: 300px;
  display: inline;
  border: 2px solid darkgrey;
}

img#display-gameOver-here, img#display-playAgainTwo-here {
  height: 400px;
  width: 600px;
  border-radius: 100px;
  box-shadow: 50px 50px 100px darkgrey;
  margin: 20px 0px 20px 0px;
}

/*h1 {
  text-decoration: underline;
  font-family: cursive;
}*/

body {
  background-color: lightgrey;
}

@font-face {
  font-family: 'game-over-font';
  src: url(assets/game-over-font.TTF) format('truetype');
}
h1 {
  font-family: 'game-over-font', cursive;
}

/*canvas {
  height: 800px;
  width: 1200px;
  max-height: 800px;
  max-width: 1200px;
}*/
